@charset "UTF-8";
* {
  position: relative;
  font-family: 微軟正黑體;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  width: 400px;
}

.cake {
  width: 360px;
}

.top, .cherry, .bottom, .middle, .berry {
  border: solid 5px #303030;
}

.top {
  height: 16px;
}

.middle {
  height: 48px;
}

.bottom1 {
  height: 30px;
}

.bottom2 {
  height: 8px;
}

.bottom3 {
  height: 12px;
}

.cherry {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: -45px;
}

.berry {
  width: 15px;
  height: 15px;
}

body {
  background-color: #F7F0E9;
}

.top, .bottom2 {
  background-color: #9C4215;
}

.middle {
  background-color: #F7F0E9;
  box-shadow: -25px 0px #F3D1BA inset, -230px 0px #F7E1CD inset;
}

.bottom1, .bottom3 {
  background-color: #773000;
  box-shadow: -160px 0px #632800 inset;
}

.cherry {
  background-color: #FF613A;
  box-shadow: -5px -5px #DF5333 inset;
}

.berry {
  background-color: #D56134;
}

.top {
  border-radius: 20px;
}

.middle {
  margin-top: -5px;
}
.middle .berry {
  border-radius: 50%;
  position: absolute;
}
.middle .berry:nth-child(1) {
  left: 20px;
  top: 16px;
}
.middle .berry:nth-child(2) {
  left: 70px;
  top: 1px;
}
.middle .berry:nth-child(3) {
  left: 150px;
  top: 20px;
}
.middle .berry:nth-child(4) {
  left: 205px;
  top: 0px;
}
.middle .berry:nth-child(5) {
  left: 295px;
  top: 18px;
}

.bottom {
  margin-top: -5px;
}

.cherry {
  border-radius: 50%;
}
.cherry .head {
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.cherry .head path {
  stroke: #303030;
  stroke-width: 5px;
  fill: none;
}

.dish {
  width: 420px;
  border-top: solid 5px #303030;
  margin-top: -4px;
  margin-left: -30px;
  box-shadow: 0px 6px 0px 1px #F3D1BA;
}

h1, h3, h4 {
  margin: 0;
  font-weight: bold;
  animation: fadeIn 1s 1s both;
}

h1 {
  font-size: 4em;
  margin: 10px opx;
}

.cake {
  margin-top: 90px;
  cursor: pointer;
}

.dish {
  animation: rubberBand 1s 0.1s both;
}

.bottom {
  animation: rubberBand 1s 0.2s both;
}

.middle {
  animation: rubberBand 1s 0.3s both;
}

.top {
  animation: rubberBand 1s 0.4s both;
}

.cake:hover {
  animation: rubberBand 1s 0.4s both;
}
.cake:hover .cherry {
  animation: tada 1s 0.4s both;
}
.cake:hover .berry {
  animation: wobble 1s 0.4s both;
}

.btn {
  text-decoration: none;
  background-color: #DF5333;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  letter-spacing: 1px;
  animation: fadeIn 1s 1.5s both;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  color: white;
}
